<h2>
  House <%= @house.name %>
  <%= link_to "(edit)", edit_house_path(@house) %>
</h2>

<img class='house-sigil' src="<%= @house.sigil_url %>">

<h3>Members</h3>

  <% @house.characters.each do |character| %>
    <!-- build the list element for each song -->
    <div class = "character">
        <h2><%= link_to "#{character.name}", character%></h2><br>
        <img class='character-photo' src="<%= character.photo_url%>"><br>
        <p>Status: <%= character.status %></p>
    </div>

  <% end %>
<h3><%= link_to "New Character", new_character_path %></h3>
